@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.main {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}
.authorization {
    flex: 1 1 100%;
    display: flex;
}
.authorization-block__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.authorization-block {
    width: 400px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .1);
}
.authorization__cap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 83px;
    background: #3E3953;
    border-radius: 25px 25px 0 0;
    font-family: 'Varela Round';
    font-size: 20px;
}
.form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 417px;
    padding: 0 30px;
    background: #1e1e1e;
    border-radius: 0 0 25px 25px;
}
.inputs-block {
    display: flex;
    flex-direction: column;
}
.input {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    color: #1e1e1e;
    font-size: 16px;
    padding: 0 25px;
    margin-bottom: 20px;
}
.input:focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, .05);
}
.button {
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
    border-radius: 50px;
    font-size: 16px;
    background: #3E3953;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .05);
    cursor: pointer;
}
.login-signup__block {
    display: flex;
    justify-content: center;
}
.link:not(:last-child) {
    margin-right: 15px;
}
.link {
    font-size: 16px;
}
.footer {
}
.footer-block {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}
.name {
    display: flex;
    flex-direction: column;
    width: 144px;
}
.name__first-part {
    font-family: 'Varela Round';
    font-size: 24px;
    letter-spacing: 10px;
    color: #1e1e1e;
}
.name__second-part {
    position: relative;
    left: 51px;
    font-family: 'Varela Round';
    font-size: 24px;
    letter-spacing: 10px;
    color: #1e1e1e;
}

.content {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}
.content .container {
    flex: 1 1 100%;
    display: flex;
}
.content-block {
    position: relative;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    width: 700px;
    background: #1e1e1e;
    border-radius: 0 0 25px 25px;
}
.user {
    position: absolute;
    top: 25px;
    left: -170px;
    width: 120px;
}
.profile-block {
    margin-bottom: 30px;
}
.profile-block .image-block {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.user__name {
    text-align: center;
    color: #1e1e1e;
}
.menu {
    display: flex;
    justify-content: center;
}
.button__leave {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button__leave .image-block {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
.icon {
}
.button__text {
    color: #1e1e1e;
}

.messages-block {
    flex: 1 1 100%;
    padding: 25px 20px;
}
.message {
    display: flex;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .05);
}
.message:not(:last-child) {
    margin-bottom: 20px;
}
.message-block {
    display: flex;
    align-items: center;
    padding-right: 30px;
    background: #3E3953;
    border-radius: 50px;
}
.message__user {
    margin-right: 30px;
}
.message__user .image-block {
    display: flex;
    width: 50px;
    height: 50px;
}
.photo {
}
.message__text {
}
.write-block {
    background: #3E3953;
    padding: 15px;
    border-radius: 0 0 25px 25px;
}
.write-block .form-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background: transparent;
    padding: 0;
}
.write__input {
    width: 595px;
    margin-right: 15px;
    padding: 0 30px;
    background: #1e1e1e;
    border-radius: 50px;
    font-family: 'Varela Round';
    color: rgba(255, 255, 255, .5);
}
.write__input::placeholder {
    font-family: 'Varela Round';
}
.send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #1e1e1e;
    cursor: pointer;
    border-radius: 50%;
}
.icon {
    position: relative;
    left: 1px;
    width: 20px;
    height: 20px;
    object-fit: cover;
}