@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.main {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.authorization {
}
.authorization-block__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.authorization-block {
    width: 400px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .1);
}
.authorization__cap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 83px;
    background: #3E3953;
    border-radius: 25px 25px 0 0;
    font-family: 'Varela Round';
    font-size: 20px;
}
.form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 417px;
    padding: 0 30px;
    background: #1e1e1e;
    border-radius: 0 0 25px 25px;
}
.inputs-block {
    display: flex;
    flex-direction: column;
}
.input {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    color: #1e1e1e;
    font-size: 16px;
    padding: 0 25px;
    margin-bottom: 20px;
}
.input:focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, .05);
}
.button {
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
    border-radius: 50px;
    font-size: 16px;
    background: #3E3953;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .05);
    cursor: pointer;
}
.login-signup__block {
    display: flex;
    justify-content: center;
}
.link:not(:last-child) {
    margin-right: 15px;
}
.link {
    font-size: 16px;
}
.footer {
}
.footer-block {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}
.name {
    display: flex;
    flex-direction: column;
    width: 144px;
}
.name__first-part {
    font-family: 'Varela Round';
    font-size: 24px;
    letter-spacing: 10px;
    color: #1e1e1e;
}
.name__second-part {
    position: relative;
    left: 51px;
    font-family: 'Varela Round';
    font-size: 24px;
    letter-spacing: 10px;
    color: #1e1e1e;
}